/* everest.css */
body {
	color: white;
	background-color: #2C2C2C;
	border: 0px solid #2C2C2C;
	/* border-radius: 16px; */
	font-family: sans-serif;
	margin: 0px;
	min-height: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 0px;
	padding-right: 0px;
}
html {
	background: #1E1E1E;
	background-size: 8px 8px;
	margin: 0px;
	min-height: 100%;
}
h1 {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
}
h2 {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 2px;
}
h3 {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
}
img {
	padding: 0px;
	width: 100%;
}
p {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
}
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #1E1E1E;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
	border-right: 1px solid #bbb;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 24px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: SteelBlue;
}

.active {
	background-color: #2C2C2C;
}
mark {
	background-color: #1E1E1E;
	color: white;
}
 /* Style buttons */
.btn {
	background-color: #1E1E1E;
	border: none;
	color: white;
	padding: 24px 30px;
	cursor: pointer;
	font-size: 20px;
	margin: 16px;
}

/* Darker background on mouse-over */
.btn:hover {
	background-color: SteelBlue;
}
button {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
} 
